*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.search{
    width: 250px;
    height: 44px;
    margin: 100px auto;
}

.search .cityselect{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;     /*光标形状*/
    border:1px solid #00d7c6;
}

.search .cityselect span{
    position: absolute;
    font-size: 14px;
    display: block;
    width: 70px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #61687c;
}

.search .cityselect span::after{
    content: "";
    width: 1px;
    height: 26px;
    background-color: #f2f2f5;
    position: absolute;
    top: 8px;
    right: 5px;
}

.dragDown{
    display: none;
}

.dragDown ul{
    width: 105px;
    height: 300px;
    float: left;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);  /* CSS3 水平偏移 垂直偏移 阴影模糊半径 外延值*/
    font-size: 14px;
    overflow: scroll;  /*设置滚动条*/
}

.dragDown ul::-webkit-scrollbar{  /*改变滚动条样式*/
    width: 4px;    /*垂直滚动条*/
    height: 0;     /*水平滚动条*/
}

.dragDown ul::-webkit-scrollbar-thumb{  /*改变滚动条滑块样式*/
    border-radius: 3px;
    background-color: #d1d4db;
}

.dragDown ul li{
    width: 105px;
    height: 50px;
    color: #9fa3b0;
    line-height: 50px;
    padding-left: 20px;
    cursor:pointer;
}

.dragDown ul.numerical{
    background-color: #f6f6f8;
}

.dragDown ul li:hover{
    background-color: #f1f3f5;
}